<!DOCTYPE html>
<html>
    {% include "head.html" %}

    <body>
        {% include "nav.html" %}
        <main role="main">
            <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Welcome to Kode!</h1>
                <p></p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h2>Playground</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                <h2>Examples</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                <h2>More Information</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
            </div>
            <hr>
            </div>
        </main>
    </body>
</html>