<!DOCTYPE html>
<html>
    {% include "head.html" %}

    <body>
        {% include "nav.html" %}
        <main role="main">
            <br/>
            <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Welcome to Kode!</h1>
                <p>Kode is a Turing-complete programming language based on natural language. The goal of this project is to enable kids to solve mathematical equations without having to use complex symbols. However, for advanced users Kode can do much more!</p>
            </div>
            </div>
            <br/>
            <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h2>Playground</h2>
                <p>This is where you can write code using the Kode language! It is a live environment where you can test and run your code. Don't forget that Kode is a complete programming language, explore and test the limits!</p>
                <p><a class="btn btn-primary" href="/playground" role="button">Go to playground »</a></p>
                </div>
                <div class="col-md-4">
                <h2>Examples</h2>
                <p>This is where you will find examples of code written with Kode. You can load them and run them in the playground to learn from them. Look at the Rule 110 example to see the proof that Kode is Turing-complete!</p>
                <p><a class="btn btn-primary" href="/examples" role="button">Go to examples »</a></p>
                </div>
                <div class="col-md-4">
                <h2>More Information</h2>
                <p>If you want to learn more about Kode and the inner workings of the project you can take a look at the repository on GitHub!</p>
                <p><a class="btn btn-primary" href="https://github.com/Dwarf1er/kode" role="button">Go to GitHub »</a></p>
                </div>
            </div>
            <hr>
            </div>
        </main>
    </body>
</html>