<!DOCTYPE html>
<html>

<head>
    <title>Kode</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        #code,
        #input,
        #output {
            font-family: monospace;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Kode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/help">Help</a>
                </div>
            </div>
        </div>
    </nav>

    <br/>

    <div class="container" style="max-width: 100%;">
        <form class="row" style="height: 90vh" method="POST">
            <div class="col-8">
                <textarea id="code" name="code" class="form-control" style="height: 100%; resize: none;">{{ code }}</textarea>
            </div>
            <div class="col-4">
                <div class="btn-group" style="width: 100%">
                    <input type="submit" class="btn btn-primary" value="RUN"/>
                </div>
                <br /><br />
                <label for="input">Input:</label>
                <textarea id="input" name="input" class="form-control" style="height: 300px">{{ input }}</textarea>
                <br />
                <label for="output">Output:</label>
                <textarea id="output" class="form-control {% if error %}text-danger{% endif %}" style="height: 300px" readonly>{{ output }}</textarea>
                <br/>
            </div>
        </form>
    </div>
</body>

</html>